<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :currency %><br>
    <%= f.text_field :currency, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :card %><br>
    <%= f.text_field :card, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label "Order Status" %><br>
  <%= f.select "status", ['New', 'Packing', 'Shipped', 'Complete'] %>
  </div>

  <div class="actions">
    <%= f.submit "Update Order", class: "btn btn-default" %>
  </div>
<% end %>
