<h1>Listing purchases</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Currency</th>
      <th>Customer</th>
      <th>Card</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.email %></td>
        <td><%= purchase.amount %></td>
        <td><%= purchase.description %></td>
        <td><%= purchase.currency %></td>
        <td><%= purchase.customer_id %></td>
        <td><%= purchase.card %></td>
        <td><%= purchase.product_id %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
