<div class="row">
<div class="col-md-12 text-center" id="red">
<h3>THANK YOU FOR YOUR ORDER</h3>
</div><!-- end md 4 -->
</div><!-- end row -->

<p>
Your order of: <strong><%= @purchase.description %></strong> has been received. </p>
<p>You card has been charged <strong><%= @purchase.amount %></strong></p>

<h3>Where do you want it delivered?</h3>

<% @deliverto = Deliverto.new %>
<%= form_for(@deliverto) do |f| %>
  <% if @deliverto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deliverto.errors.count, "error") %> prohibited this deliverto from being saved:</h2>

      <ul>
      <% @deliverto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
<div class="col-md-12">
  <div class="form-group">
    <%= f.label :deliverto_street %><br>
    <%= f.text_field :deliverto_street, class: "form-control" %>
  </div>
</div><!-- end md 4 -->
</div><!-- end row -->

<div class="row">
<div class="col-md-4">
 <div class="form-group">
    <%= f.label :deliverto_city %><br>
    <%= f.text_field :deliverto_city, class: "form-control" %>
  </div>
  </div><!-- end md 4 -->
<div class="col-md-4">
<div class="form-group">
    <%= f.label :delivertto_state %><br>
    <%= f.text_field :delivertto_state, class: "form-control" %>
  </div>
  </div><!-- end md 4 -->
<div class="col-md-4">
<div class="form-group">
    <%= f.label :deliverto_zip %><br>
    <%= f.text_field :deliverto_zip, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :deliverto_country %><br>
    <%= f.text_field :deliverto_country, class: "form-control" %>
  </div>
  </div><!-- end md 4 -->
</div><!-- end row -->

  <div class="form-group">
  <%= f.hidden_field :purchase_id, :value => @purchase.id %>
  </div>

  <div class="form-group">
    <%= f.label :deliverto_instructions %><br>
    <%= f.text_area :deliverto_instructions, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Complete Order", class: "btn btn-danger" %>
  </div>
<% end %>



<% if user_signed_in? %>

<!-- internal --> 
<hr /> 

<p>This is your purchase</p>
<p>Your purchase is <%= @purchase.inspect %></p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>

<% end %>
