<%= form_for(@deliverto) do |f| %>
  <% if @deliverto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deliverto.errors.count, "error") %> prohibited this deliverto from being saved:</h2>

      <ul>
      <% @deliverto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deliverto_street %><br>
    <%= f.text_field :deliverto_street %>
  </div>
  <div class="field">
    <%= f.label :deliverto_city %><br>
    <%= f.text_field :deliverto_city %>
  </div>
  <div class="field">
    <%= f.label :delivertto_state %><br>
    <%= f.text_field :delivertto_state %>
  </div>
  <div class="field">
    <%= f.label :deliverto_zip %><br>
    <%= f.text_field :deliverto_zip %>
  </div>
  <div class="field">
    <%= f.label :deliverto_country %><br>
    <%= f.text_field :deliverto_country %>
  </div>
  <div class="field">
    <%= f.label :purchase_id %><br>
    <%= f.number_field :purchase_id %>
  </div>
  <div class="field">
    <%= f.label :deliverto_instructions %><br>
    <%= f.text_area :deliverto_instructions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
