<h1>Listing delivertos</h1>

<table>
  <thead>
    <tr>
      <th>Deliverto street</th>
      <th>Deliverto city</th>
      <th>Delivertto state</th>
      <th>Deliverto zip</th>
      <th>Deliverto country</th>
      <th>Purchase</th>
      <th>Deliverto instructions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivertos.each do |deliverto| %>
      <tr>
        <td><%= deliverto.deliverto_street %></td>
        <td><%= deliverto.deliverto_city %></td>
        <td><%= deliverto.delivertto_state %></td>
        <td><%= deliverto.deliverto_zip %></td>
        <td><%= deliverto.deliverto_country %></td>
        <td><%= deliverto.purchase_id %></td>
        <td><%= deliverto.deliverto_instructions %></td>
        <td><%= link_to 'Show', deliverto %></td>
        <td><%= link_to 'Edit', edit_deliverto_path(deliverto) %></td>
        <td><%= link_to 'Destroy', deliverto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deliverto', new_deliverto_path %>
