<p id="notice"><%= notice %></p>

<p>
  <strong>Deliverto street:</strong>
  <%= @deliverto.deliverto_street %>
</p>

<p>
  <strong>Deliverto city:</strong>
  <%= @deliverto.deliverto_city %>
</p>

<p>
  <strong>Delivertto state:</strong>
  <%= @deliverto.delivertto_state %>
</p>

<p>
  <strong>Deliverto zip:</strong>
  <%= @deliverto.deliverto_zip %>
</p>

<p>
  <strong>Deliverto country:</strong>
  <%= @deliverto.deliverto_country %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @deliverto.purchase_id %>
</p>

<p>
  <strong>Deliverto instructions:</strong>
  <%= @deliverto.deliverto_instructions %>
</p>

<%= link_to 'Edit', edit_deliverto_path(@deliverto) %> |
<%= link_to 'Back', delivertos_path %>
