<h1>Listing fins</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Base</th>
      <th>Height</th>
      <th>Description</th>
      <th>Customer price</th>
      <th>Ballast price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fins.each do |fin| %>
      <tr>
        <td><%= fin.name %></td>
        <td><%= fin.type %></td>
        <td><%= fin.base %></td>
        <td><%= fin.height %></td>
        <td><%= fin.description %></td>
        <td><%= fin.customer_price %></td>
        <td><%= fin.ballast_price %></td>
        <td><%= link_to 'Show', fin %></td>
        <td><%= link_to 'Edit', edit_fin_path(fin) %></td>
        <td><%= link_to 'Destroy', fin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_fin_path do %><i class="fa fa-square-o"></i>&nbsp; ADD A NEW FIN <% end %>
