
<% if user_signed_in? %>
<%= link_to new_fin_path do %><i class="fa fa-square-o"></i>&nbsp; ADD A NEW FIN <% end %> <br />
<% end %>
<div class="row">
  
    <div class="col-md-12 text-center">

    <% @fins.each do |fin| %>
       <div class="listing">
        <center>
        <%= link_to image_tag(fin.image.url(:thumb)), fin, class: "img-responsive"%>
        <%= link_to fin.name, fin %> // <%= link_to fin.model, fin %><br/> 
        <!-- <p><%= number_to_currency(fin.customer_price) %><p> -->
       
        <% if user_signed_in? %>
        <p>Ballast Price: <%= number_to_currency(fin.ballast_price) %></p>
        <%= link_to 'Edit', edit_fin_path(fin) %> |
        <%= link_to 'Delete', fin, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
       </center>
       </div><!-- end listing -->
    <% end %>

    </div><!-- end md 10 -->   

</div><!-- end row -->

                


