<!DOCTYPE html>
<html>
<head>
  <title>Ballast Hardware // American Made Hardware For Surfing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <meta name="description" content="We are hardware made for surfing. We are taking proven ideas from the past and blending them with materials and tools we have today to create a better experience for you in and out of the water.">
  <meta name="keywords" content="Ballast, Ballast Hardware, Surf Hardware, Surf Tools, Surf Goods, Surfing, waves, living, fun">

<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>




<div class="container">
<div class="row">
  <div class="col-md-12 text-right" id="headersocial">
    <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fa fa-toggle-off"></i>&nbsp;  Logout   &nbsp; 
    <% end %>
    <% else %>
    <%=  link_to new_user_session_path do %>
    <i class="fa fa-toggle-on"></i>&nbsp; Sign In <% end %> &nbsp; 
    <% end %>
  </div><!-- end md 12 -->
</div><!-- end row -->

<div class="row">
  <div class="col-md-6 text-left">
    <%= link_to image_tag("https://s3.amazonaws.com/ballast/images/ballastlogo.png", class: "img-responsive"), root_path %>
  </div><!-- end md 6 -->
  <div class="col-md-6 text-right" id="navigation">
      
      <!-- <%= link_to "OUR STORY", about_path %> | -->
      <%= link_to "FINS", fins_path %>
      |
      <%= link_to "CONTACT", new_contact_path %>
      <!-- not logged in content -->
  </div><!-- end md 6 -->
</div><!-- end row -->

<% if user_signed_in? %>  
  <div class="row">
    <div class="col-md-12 text-left">
        <%= link_to "ORDERS", delivertos_path %> |
        <%= link_to "CONTACTS", contacts_path %> <!-- | <%= link_to "BLOG", blogs_path %> | --> 
    </div><!-- end md 12 -->
  </div><!-- end row -->
<% end %>


<div class="row">
        <div class="col-md-12" id="main">
        <!-- end header -->
        <%= yield %>
        <!-- begin footer -->
        </div><!-- end md 12 -->    
</div><!-- end row -->


<div class="row">
    <div class="col-md-12 text-center" id="logobottom">
      <center>
    <img src="https://s3.amazonaws.com/ballast/images/ballast_a.png", class="img-responsive">
    </center>
    </div><!-- end md 4 -->
</div><!-- end row -->

<div class="row">
    <div class="col-md-4"></div><!-- end md 4 -->
    <div class="col-md-4 text-center" id="footernav">
       
      </div><!-- end md 4 -->
      <div class="col-md-4"></div><!-- end md 4 -->
</div><!-- end row -->

<div class="row">
      <div class="col-md-6 text-left" id="footer">
      &copy; 2015 Ballast Hardware
      </div><!-- end md 4 -->
      <div class="col-md-6 text-right">
        <%= link_to "https://instagram.com/ballasthardware", target: "_blank" do %><i class="fa fa-instagram"></i><% end %>
      </div><!-- end md 4 -->
</div><!-- end row -->

</div><!-- end container -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-61197267-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>


